@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$hover: #fa98d7;
$bgc: #f7cbe7;


.wrapper{
    position: fixed;
    height: 100%;
    border: 1px solid white;
    width: 250px;
    background-color: #f5c4e3;
}

.side-bar__btn{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid white;
    padding: 20px 10px;
    width: 100%;
    outline: 0;
    background-color: transparent;
    transition: .5s;
    &:hover{
        background-color: $hover;
    }
}
.logo{
    height: 150px;
    display: flex;
    justify-self: center;
}
p, h2{
    display: flex;
    justify-content: center;
    font-family: Dancing Script;
}
h2{
    padding-top: 10px;
}
.gratul-text{
    position: relative;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    text-align: center;
    margin-bottom: 100px;
}
.wrapper-ph{
    padding: 100px 100px 0 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
    gap: 30px; /* расстояние между фотками */
    // justify-items: center;  
}
img{

    height:300px;
    width: 300px;
    object-fit: contain;
}
.wrapper-meme{
    padding: 100px 100px 100px 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 колонки одинаковой ширины */
    gap:100px;
}
.questions{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question-wrapper{
    padding-top: 20px;
    p{
        font-weight: bold;
    }
}

textarea {
    width: 500px; 
    height: auto;  
    border: 1px solid $hover;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    resize: vertical;
}

.hison-img-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo-hison{
    height: auto;
    width: 400px;
}
.assoc-container{
    padding: 100px 100px 100px 25%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 колонки одинаковой ширины */
    
}
.assoc-wrapper{
    p{
        font-size: 20px;
        padding-top: 20px;
    }
}

.assoc-photo{
    height:300px;
    width: 300px;
    object-fit: contain;
}
.finish-text{
    max-width: 800px;
    padding: 50px 0;

}